<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="productos"></ion-back-button>
    </ion-buttons>

    <ion-title class="ion-no-padding">{{datos.titulo}}</ion-title>
    
    <ion-buttons slot="end" (click)="onClick()">
      <ion-button defaultHref="productos"><ion-icon name="trash-outline" size="large"></ion-icon></ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="ion-no-padding">
    <!--  -->
    <ion-row>
      <i-col>
        
        <ion-img [src]="datos.imgURL"></ion-img>
        
      </i-col>
    </ion-row>
  </ion-grid>
      

  
</ion-content>
