<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="productos"></ion-back-button>
    </ion-buttons>

    <ion-title class="ion-no-padding">{{producto.titulo}}</ion-title>
    
    <ion-buttons slot="end" (click)="eliminarProducto()">
      <ion-button defaultHref="productos"><ion-icon name="trash-outline" size="large"></ion-icon></ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="ion-no-padding">
    <!--  -->
    <ion-row>
      <ion-col>
        
        <ion-img [src]="producto.imgURL"></ion-img>
        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        
        <h1 class="ion-text-center">{{producto.titulo}}</h1>
        
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let com of producto.comentarios">
            {{com}}
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
      

  
</ion-content>
